
<!-- Loader -->
<div class="loader" id="loader-fade">
  <div class="dot-container">
      <div class="dot dot-1"></div>
      <div class="dot dot-2"></div>
      <div class="dot dot-3"></div>
  </div>

  <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
      <defs>
          <filter id="goo">
              <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur"></feGaussianBlur>
              <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 21 -7"></feColorMatrix>
          </filter>
      </defs>
  </svg>
</div>
<!-- Loader ends -->

<!-- Header start -->
<section class="top-header cursor-light">
<div class="row no-gutters" style="box-shadow: 0 22px 50px 0 rgba(0,0,0,.15);padding: 5px 0;">
  <div class="col-6 col-lg-4">
      <div class="slider-icons">
          <ul class="slider-social banner-social d-flex">
              <li class="animated-wrap"><a class="animated-element" href="javascript:void(0);"><i class="fab fa-facebook-f"></i> </a></li>
              <li class="animated-wrap"><a class="animated-element" href="javascript:void(0);"><i class="fab fa-twitter"></i>  </a></li>
              <li class="animated-wrap"><a class="animated-element" href="javascript:void(0);"><i class="fab fa-linkedin-in"></i> </a></li>
              <li class="animated-wrap"><a class="animated-element" href="javascript:void(0);"><i class="fab fa-instagram"></i> </a></li>
          </ul>
      </div>
  </div>
  <div class="col-6 col-lg-4 d-flex align-items-center justify-content-end justify-content-lg-center">
      <a class="menu_bars menu-bars-setting sidemenu_toggle link mr-3 mr-lg-0">
          <div class="menu-lines">
              <span></span>
              <span></span>
              <span></span>
          </div>
      </a>
  </div>
  <div class="col-4 d-flex justify-content-end">
      <a href="javascript:void(0)" class="btn-setting link btn-hvr-up btn-hvr-whatsapp color-black mr-lg-4 d-none d-lg-inline-block"><i class="fab fa-whatsapp"></i> +1 631 112 1134</a>
  </div>
</div>
</section>
<header class="cursor-light">
<nav class="navbar navbar-top-default navbar-expand-lg nav-three-circles bottom-nav nav-box-shadow no-animation">
  <div class="container-fluid">
      <a class="logo ml-lg-1" href="javascript:void(0)">
          <img src="assets/images/logo-pure-white.png" class="logo-default" alt="logo" title="Logo">
      </a>
      <div class="collapse navbar-collapse d-none d-lg-block">
          <ul class="nav navbar-nav mx-auto">
              <li class="nav-item"> <a href="#home" class="scroll nav-link link">home</a></li>
              <li class="nav-item"> <a href="#about" class="scroll nav-link link">about</a></li>
              <li class="nav-item"> <a href="#work" class="scroll nav-link link">work</a></li>
              <li class="nav-item"> <a href="#pricing" class="scroll nav-link link">pricing</a></li>
              <li class="nav-item"> <a href="#clients" class="scroll nav-link link">clients</a></li>
              <li class="nav-item"> <a href="#blog" class="scroll nav-link link">blog</a></li>
              <li class="nav-item"> <a href="#contact" class="scroll nav-link link">contact</a></li>
          </ul>
      </div>
      <a href="javascript:void(0)" class="nav-btn-number btn-setting btn-hvr-up btn-hvr-whatsapp color-white mr-lg-3"><i class="fab fa-whatsapp"></i> +1 631 112 1134</a>
      <!-- side menu open button -->
      <div class="menu-btn">
      <a class="menu_bars menu-bars-setting animated-wrap sidemenu_toggle">
          <div class="menu-lines animated-element">
              <span></span>
              <span></span>
              <span></span>
          </div>
      </a>
      </div>
      <!-- Side Menu -->
  </div>
</nav>
<!-- side menu open button -->
<!--    <a class="menu_bars menu-bars-setting animated-wrap sidemenu_toggle d-lg-inline-block d-none">-->
<!--        <div class="menu-lines animated-element">-->
<!--            <span></span>-->
<!--            <span></span>-->
<!--            <span></span>-->
<!--        </div>-->
<!--    </a>-->
<!-- Side Menu -->
<div class="side-menu center">
  <div class="quarter-circle">
      <div class="menu_bars2 active" id="btn_sideNavClose">
          <span></span>
          <span></span>
          <span></span>
      </div>
  </div>
  <div class="inner-wrapper justify-content-center">
      <div class="col-md-12 text-center">
          <a href="javascript:void(0)" class="logo-full mb-4"><img src="assets/images/logo-pure-white.png" alt=""></a>
      </div>
      <nav class="side-nav m-0">
          <ul class="navbar-nav flex-lg-row">
              <li class="nav-item"> <a href="#home" class="scroll nav-link link">home</a></li>
              <li class="nav-item"> <a href="#about" class="scroll nav-link link">about</a></li>
              <li class="nav-item"> <a href="#work" class="scroll nav-link link">work</a></li>
              <li class="nav-item"> <a href="#pricing" class="scroll nav-link link">pricing</a></li>
              <li class="nav-item"> <a href="#clients" class="scroll nav-link link">clients</a></li>
              <li class="nav-item"> <a href="#blog" class="scroll nav-link link">blog</a></li>
              <li class="nav-item"> <a href="#contact" class="scroll nav-link link">contact</a></li>
          </ul>
      </nav>

      <div class="side-footer text-white w-100">
          <ul class="social-icons-simple">
              <li class="side-menu-icons"><a href="javascript:void(0)"><i class="fab fa-facebook-f color-white"></i> </a> </li>
              <li class="side-menu-icons"><a href="javascript:void(0)"><i class="fab fa-instagram color-white"></i> </a> </li>
              <li class="side-menu-icons"><a href="javascript:void(0)"><i class="fab fa-twitter color-white"></i> </a> </li>
          </ul>
          <p class="text-white">© 2024 Clarityst.</p>
      </div>
  </div>
</div>
<a id="close_side_menu" href="javascript:void(0);"></a>
<!--Side Menu-->
</header>
<!-- Header end -->

<!-- Main Section start -->
<section id="home" class="p-0 h-100vh cursor-light">
<h2 class="d-none">heading</h2>
<!--Main Slider-->
<div id="rev_slider_8_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="weone" data-source="gallery" style="background:transparent;padding:0px;">
  <!-- START REVOLUTION SLIDER 5.4.8.1 fullscreen mode -->
  <div id="rev_slider_8_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.8.1">
      <ul><!-- SLIDE  -->
          <!-- SLIDE 1 -->
          <li data-index="rs-36" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
              <!-- LAYERS -->
              <img src="assets/images/slider-img.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" alt="slider-image" data-no-retina="">
              <div class="banner-overlay">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
              </div>
              <!-- LAYERS -->
              <div class="rs-background-video-layer" data-forcerewind="on" data-volume="mute" data-videowidth="100%" data-videoheight="100vh" data-videomp4="assets/images/slider-video.mp4" data-videopreload="auto" data-videoloop="loopandnoslidestop" data-forcecover="1" data-aspectratio="16:9" data-autoplay="true" data-autoplayonlyfirsttime="false"></div>

          </li>
      </ul>

      <div class="tp-bannertimer" style="height: 5px; background: rgba(0,0,0,0.15);"></div>	</div>
</div>
<!--Main Slider ends -->

</section>
<!-- Main Section end -->

<!--About start-->
<section class="about overflow-visible bg-dark1" id="about">
<div class="container">
  <div class="row">
      <div class="col-lg-6 pr-5 mb-5 mb-lg-0 wow fadeInLeft">
          <div class="rare-box"></div>
          <img src="assets/images/about.jpg" class="about-img-small position-relative w-100" alt="">
      </div>
      <div class="col-lg-6 pl-6">
          <div class="main-title text-lg-left offset-md-1 mb-0 wow fadeInUp" data-wow-delay="300ms">
              <h5 class="wow fadeInUp" data-wow-delay="300ms"> Lorem ipsum dolor sit amet consectetur </h5>
              <h2 class="wow fadeInUp font-weight-light" data-wow-delay="400ms"> We are making <span class="color-pink">design</span> better for everyone</h2>
              <p class="pb-4 wow fadeInUp" data-wow-delay="500ms">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed augue diam, accumsan vitae justo non, euismod aliquam lectus. Etiam elementum tortor quis risus posuere, in cursus arcu lobortis.</p>

              <ul class="pb-5 text-left wow fadeInUp" data-wow-delay="600ms">
                  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                  <li>Morbi ornare nibh id cursus vestibulum.</li>
                  <li>Duis vitae lectus facilisis, tristique lorem sit amet, malesuada diam.</li>
              </ul>

              <a href="javascript:void(0)" class="btn-setting color-black btn-hvr-up btn-yellow btn-hvr-pink text-white link wow fadeInUp" data-wow-delay="700ms">learn more</a>
          </div>
      </div>
  </div>
</div>
</section>
<!--About end-->

<!-- About Boxes start -->
<section class="bg-dark2">
<div class="container">
  <div class="row">
      <div class="col-md-12">
          <div class="main-title wow fadeIn" data-wow-delay="300ms">
              <h2>We’re <span class="color-pink">Creative</span> Branding<br>and Corporate Identity <span class="color-blue">Agency</span></h2>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-lg-4 col-md-6 col-12">
          <div class="about-box mb-5 mb-lg-0 mx-auto bg-blue">
              <span class="pro-step d-inline-block color-white"><i class="fa fa-pencil-alt"></i></span>
              <h5 class="font-weight-500 color-white mt-25px mb-15px text-capitalize">branding design</h5>
              <p class="font-weight-light color-white">Lorem dapibus, tortor eget turpis auctor, convallis odio ac.</p>
          </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
          <div class="about-box mb-5 mb-lg-0 mx-auto bg-yellow">
              <span class="pro-step d-inline-block color-white"><i class="fa fa-cog"></i></span>
              <h5 class="font-weight-500 color-white mt-25px mb-15px">SEO Marketing</h5>
              <p class="font-weight-light color-white">Etiam luctus, lacus maximus elementum dapibus felis.</p>
          </div>
      </div>
      <div class="col-lg-4 col-md-12 col-12">
          <div class="about-box mb-0 mx-auto bg-pink">
              <span class="pro-step d-inline-block color-white"><i class="fa fa-code"></i></span>
              <h5 class="font-weight-500 color-white mt-25px mb-15px text-capitalize">web development</h5>
              <p class="font-weight-light color-white">Pellentesque habitant morbi tristique senectus et malesuada.</p>
          </div>
      </div>
  </div>
</div>
</section>
<!-- About Boxes ends -->

<!-- Team start -->
<section id="team" class="bg-light-gray bg-dark1">
<div class="container">
  <div class="row">
      <div class="col-md-12">
          <div class="main-title wow fadeIn" data-wow-delay="300ms">
              <h5> Lorem ipsum dolor sit amet </h5>
              <h2 class="mb-0">Our <span class="color-pink">Creative</span> Team </h2>
          </div>
      </div>
  </div>
  <div class="row wow fadeInUp team" data-wow-delay="300">
      <div class="col-lg-6 col-xl-3 p-0 team-col ml-md-auto mr-md-0 mx-auto">
          <div class="team-image">
              <img src="assets/images/team1.jpg" alt="team1" class="m-image1">
          </div>
          <div class="team-classic-content hvr-team pink">
              <h3 class="mb-3 text-capitalize color-black">Jessica Jones</h3>
              <h5 class="mb-3 text-capitalize color-pink">Lead Designer</h5>
              <p class="mt-3 mb-3 color-black">Lorem ipsum dolor sit amet, consectetur adipiscing elit augue.</p>
              <ul class="team-social">
                  <li class="d-inline-block"><a href="javascript:void(0)" class="facebook-bg-hvr"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                  <li class="d-inline-block"><a href="javascript:void(0)" class="twitter-bg-hvr"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                  <li class="d-inline-block"><a href="javascript:void(0)" class="google-bg-hvr"><i class="fab fa-google" aria-hidden="true"></i></a></li>
              </ul>
          </div>
      </div>
      <div class="col-lg-6 col-xl-3 p-0 team-col2 mr-md-auto ml-md-0 mx-auto">
          <div class="row">
              <div class="col-md-12 order-md-1">
                  <div class="team-image">
                      <img src="assets/images/team2.jpg" alt="team2" class="m-image2">
                  </div>
              </div>
              <div class="col-md-12 order-md-0">
                  <div class="team-classic-content hvr-team2 blue">
                      <h3 class="mb-3 text-capitalize color-black">Rob Clark</h3>
                      <h5 class="mb-3 text-capitalize color-blue">marketing head</h5>
                      <p class="mt-3 mb-3 color-black">Lorem ipsum dolor sit amet, consectetur adipiscing elit augue.</p>
                      <ul class="team-social">
                          <li class="d-inline-block"><a href="javascript:void(0)" class="facebook-bg-hvr"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                          <li class="d-inline-block"><a href="javascript:void(0)" class="twitter-bg-hvr"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                          <li class="d-inline-block"><a href="javascript:void(0)" class="google-bg-hvr"><i class="fab fa-google" aria-hidden="true"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
      <div class="w-100 d-none d-lg-block d-xl-none"></div>
      <div class="col-lg-6 col-xl-3 p-0 team-col ml-md-auto mr-md-0 mx-auto team-row2">
          <div class="team-image">
              <img src="assets/images/team3.jpg" alt="team3" class="m-image3">
          </div>
          <div class="team-classic-content hvr-team yellow">
              <h3 class="mb-3 text-capitalize color-black">Nicole Cross</h3>
              <h5 class="mb-3 text-capitalize color-yellow">Visualizer</h5>
              <p class="mt-3 mb-3 color-black">Lorem ipsum dolor sit amet, consectetur adipiscing elit augue.</p>
              <ul class="team-social">
                  <li class="d-inline-block"><a href="javascript:void(0)" class="facebook-bg-hvr"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                  <li class="d-inline-block"><a href="javascript:void(0)" class="twitter-bg-hvr"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                  <li class="d-inline-block"><a href="javascript:void(0)" class="google-bg-hvr"><i class="fab fa-google" aria-hidden="true"></i></a></li>
              </ul>
          </div>
      </div>
      <div class="col-lg-6 col-xl-3 p-0 team-col2 mr-md-auto ml-md-0 mx-auto team-row2">
          <div class="row">
              <div class="col-md-12 order-md-1">
                  <div class="team-image2">
                      <img src="assets/images/team4.jpg" alt="team4" class="m-image2">
                  </div>
              </div>
              <div class="col-md-12 order-md-0">
                  <div class="team-classic-content hvr-team2 pink">
                      <h3 class="mb-3 text-capitalize color-black">Albert Rodricks</h3>
                      <h5 class="mb-3 text-capitalize color-pink">Creative Lead</h5>
                      <p class="mt-3 mb-3 color-black">Lorem ipsum dolor sit amet, consectetur adipiscing elit augue.</p>
                      <ul class="team-social">
                          <li class="d-inline-block"><a href="javascript:void(0)" class="facebook-bg-hvr"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                          <li class="d-inline-block"><a href="javascript:void(0)" class="twitter-bg-hvr"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                          <li class="d-inline-block"><a href="javascript:void(0)" class="google-bg-hvr"><i class="fab fa-google" aria-hidden="true"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
</section>
<!-- Team ends -->

<!-- Quote start -->
<section class="parallax-setting parallaxie parallax1">
<h2 class="d-none">heading</h2>
  <div class="container">
      <div class="row align-items-center position-relative">
          <div class="col-md-12">
              <div class="quote-text text-center wow fadeInRight" data-wow-delay="300ms">
                  <div class="quote d-flex justify-content-start mb-2rem"><i class="fa fa-quote-left"></i></div>
                  <h2 class="font-weight-light mb-5 line-height-normal text-white"><span class="color-yellow">Creativity</span> is allowing yourself to make mistakes Art is knowing which ones to keep.</h2>
                  <h3 class="color-pink">Alice Johnson</h3>
                  <div class="quote d-flex justify-content-end mb-3"><i class="fa fa-quote-right"></i></div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Quote ends -->

<!-- Work Starts -->
<section id="work" class="pb-0 bg-dark1">
<div class="container-fluid">
  <div class="row">
      <div class="col-md-12">
          <div class="main-title wow fadeIn" data-wow-delay="300ms">
              <h5> Lorem ipsum dolor sit amet </h5>
              <h2 class="mb-0">Creative<span class="color-pink"> Portfolio</span> </h2>
          </div>
      </div>
  </div>
  <div class="row d-block">

      <div id="js-filters-mosaic-flat" class="cbp-l-filters-alignCenter">
          <div data-filter="*" class="cbp-filter-item-active cbp-filter-item cbp-filter-style">
              All <div class="cbp-filter-counter"></div>
          </div>
          <div data-filter=".graphic-designs" class="cbp-filter-item cbp-filter-style">
              Graphic Designs <div class="cbp-filter-counter"></div>
          </div>
          <div data-filter=".web-designs" class="cbp-filter-item cbp-filter-style">
              Web Designs <div class="cbp-filter-counter"></div>
          </div>
          <div data-filter=".seo" class="cbp-filter-item cbp-filter-style">
              SEO <div class="cbp-filter-counter"></div>
          </div>
          <div data-filter=".marketing" class="cbp-filter-item">
              Marketing <div class="cbp-filter-counter"></div>
          </div>
      </div>

      <div id="js-grid-mosaic-flat" class="cbp cbp-l-grid-mosaic-flat no-transition">
          <div class="cbp-item web-designs marketing">
              <a href="ad-agency/img/work1.jpg" class="cbp-caption cbp-lightbox" data-title="Bolt UI<br>by Tiberiu Neamu">
                  <div class="cbp-caption-defaultWrap">
                      <img src="assets/images/work1.jpg" alt="work">
                  </div>
                  <div class="cbp-caption-activeWrap">
                      <div class="cbp-l-caption-alignCenter">
                          <div class="cbp-l-caption-body">
                              <p>Elegant | assets/Images</p>
                              <div class="cbp-l-caption-title">We are digital agency</div>
                              <span class="work-icon">
                                      <i class="fa fa-arrow-right"></i>
                                  </span>
                          </div>
                      </div>
                  </div>
              </a>
          </div>
          <div class="cbp-item graphic-designs seo">
              <a href="ad-agency/img/work2.jpg" class="cbp-caption cbp-lightbox" data-title="World Clock<br>by Paul Flavius Nechita">
                  <div class="cbp-caption-defaultWrap">
                      <img src="assets/images/work2.jpg" alt="work">
                  </div>
                  <div class="cbp-caption-activeWrap">
                      <div class="cbp-l-caption-alignCenter">
                          <div class="cbp-l-caption-body">
                              <p>Elegant | assets/Images</p>
                              <div class="cbp-l-caption-title">Creative art work</div>
                              <span class="work-icon">
                                      <i class="fa fa-arrow-right"></i>
                                  </span>
                          </div>
                      </div>
                  </div>
              </a>
          </div>
          <div class="cbp-item graphic-designs web-designs">
              <a href="ad-agency/img/work3.jpg" class="cbp-caption cbp-lightbox" data-title="WhereTO App<br>by Tiberiu Neamu">
                  <div class="cbp-caption-defaultWrap">
                      <img src="assets/images/work3.jpg" alt="work">
                  </div>
                  <div class="cbp-caption-activeWrap">
                      <div class="cbp-l-caption-alignCenter">
                          <div class="cbp-l-caption-body">
                              <p>Elegant | assets/Images</p>
                              <div class="cbp-l-caption-title">Modern portfolio</div>
                              <span class="work-icon">
                                      <i class="fa fa-arrow-right"></i>
                                  </span>
                          </div>
                      </div>
                  </div>
              </a>
          </div>
          <div class="cbp-item seo marketing">
              <a href="ad-agency/img/work6.jpg" class="cbp-caption cbp-lightbox" data-title="Remind~Me Widget<br>by Tiberiu Neamu">
                  <div class="cbp-caption-defaultWrap">
                      <img src="assets/images/work6.jpg" alt="work">
                  </div>
                  <div class="cbp-caption-activeWrap">
                      <div class="cbp-l-caption-alignCenter">
                          <div class="cbp-l-caption-body">
                              <p>Elegant | assets/Images</p>
                              <div class="cbp-l-caption-title">Digital art works</div>
                              <span class="work-icon">
                                      <i class="fa fa-arrow-right"></i>
                                  </span>
                          </div>
                      </div>
                  </div>
              </a>
          </div>

          <div class="cbp-item web-designs seo">
              <a href="ad-agency/img/work4.jpg" class="cbp-caption cbp-lightbox" data-title="Seemple* Music<br>by Tiberiu Neamu">
                  <div class="cbp-caption-defaultWrap">
                      <img src="assets/images/work4.jpg" alt="work">
                  </div>
                  <div class="cbp-caption-activeWrap">
                      <div class="cbp-l-caption-alignCenter">
                          <div class="cbp-l-caption-body">
                              <p>Elegant | assets/Images</p>
                              <div class="cbp-l-caption-title">Photography</div>
                              <span class="work-icon">
                                      <i class="fa fa-arrow-right"></i>
                                  </span>
                          </div>
                      </div>
                  </div>
              </a>
          </div>
          <div class="cbp-item web-designs marketing">
              <a href="ad-agency/img/work5.jpg" class="cbp-caption cbp-lightbox" data-title="iDevices<br>by Tiberiu Neamu">
                  <div class="cbp-caption-defaultWrap">
                      <img src="assets/images/work5.jpg" alt="work">
                  </div>
                  <div class="cbp-caption-activeWrap">
                      <div class="cbp-l-caption-alignCenter">
                          <div class="cbp-l-caption-body">
                              <p>Elegant | assets/Images</p>
                              <div class="cbp-l-caption-title">Modern workspace</div>
                              <span class="work-icon">
                                      <i class="fa fa-arrow-right"></i>
                                  </span>
                          </div>
                      </div>
                  </div>
              </a>
          </div>

      </div>
  </div>
</div>
</section>
<!-- Work ends -->

<!-- Pricing start -->
<section id="pricing" class="bg-light-gray pricing-padding bg-dark2">
<div class="container">
  <div class="row">
      <div class="col-md-12">
          <div class="main-title wow fadeIn" data-wow-delay="300ms">
              <h5> Lorem ipsum dolor sit amet </h5>
              <h2 class="mb-0">Flexible<span class="color-pink"> Pricing</span> Packages </h2>
          </div>
      </div>
  </div>
  <div class="row mt-66px mt-xs-4rem">
      <div class="col-lg-4 col-md-6 col-sm-12 text-center mb-xs-5 wow fadeInUp">
          <div class="pricing-item hvr-bg-blue">
              <div class="price-box clearfix">
                  <div class="price_title">
                      <h4 class="text-capitalize">Basic</h4>
                  </div>
              </div>
              <div class="price">
                  <h2 class="position-relative"><span class="dollar">$</span>19<span class="month">/ month</span></h2>
              </div>
              <div class="price-description">
                  <p>Full Access</p>
                  <p>Unlimited Bandwidth</p>
                  <p>Email Accounts</p>
                  <p>8 Free Forks Every Months</p>
              </div>
              <div class="text-center">
                  <a href="javascript:void(0)" class="btn-setting color-black btn-hvr-up btn-blue btn-hvr-white">learn more</a>
              </div>
          </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 text-center mb-xs-5 wow fadeInUp">
          <div class="pricing-item price-transform hvr-bg-yellow">
              <div class="quarter-triangle"></div>

              <div class="triangle-inner-content">
                  <i class="fa fa-star"></i>
                  <span> SPECIAL </span>
              </div>

              <div class="price-box2 clearfix">
                  <div class="price_title">
                      <h4 class="text-capitalize m-0">Standard</h4>
                      <p class="price-sub-heading text-capitalize">the most popular</p>
                  </div>
              </div>
              <div class="price">
                  <h2 class="position-relative"><span class="dollar">$</span>29<span class="month">/ month</span></h2>
              </div>
              <div class="price-description">
                  <p> Full Access</p>
                  <p>Unlimited Bandwidth</p>
                  <p>Email Accounts</p>
                  <p>8 Free Forks Every Months</p>
              </div>
              <div class="text-center">
                  <a href="javascript:void(0)" class="btn-setting color-black btn-hvr-up btn-yellow btn-hvr-white">learn more</a>
              </div>

          </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 text-center wow fadeInUp">
          <div class="pricing-item hvr-bg-pink">
              <div class="price-box clearfix">
                  <div class="price_title">
                      <h4 class="text-capitalize">Advance</h4>
                  </div>
              </div>
              <div class="price">
                  <h2 class="position-relative"><span class="dollar">$</span>49<span class="month">/ month</span></h2>
              </div>
              <div class="price-description">
                  <p> Full Access</p>
                  <p>Unlimited Bandwidth</p>
                  <p>Email Accounts</p>
                  <p>8 Free Forks Every Months</p>
              </div>
              <div class="text-center">
                  <a href="javascript:void(0)" class="btn-setting color-black btn-hvr-up btn-pink btn-hvr-white">learn more</a>
              </div>
          </div>
      </div>
  </div>
</div>
</section>
<!-- Pricing ends -->

<!-- Clients start -->
<section id="clients" class="bg-white p-0 cursor-light no-transition">
<h2 class="d-none">heading</h2>
<div class="section-padding parallax-setting parallaxie parallax2">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="main-title wow fadeIn" data-wow-delay="300ms">
                  <h5> Lorem ipsum dolor sit amet </h5>
                  <h2 class="mb-0">Valuable<span class="color-pink"> Clients</span></h2>
              </div>
          </div>
      </div>

      <div class="testimonial-assets/images">
          <div class="owl-thumbs owl-dots d-lg-block d-none">
              <div class="owl-dot animated-wrap active"><img src="assets/images/testimonial1.png" alt="" class="animated-element"></div>
              <div class="owl-dot animated-wrap"><img src="assets/images/testimonial2.png" alt="" class="animated-element"></div>
              <div class="owl-dot animated-wrap"><img src="assets/images/testimonial3.png" alt="" class="animated-element"></div>
              <div class="owl-dot animated-wrap"><img src="assets/images/testimonial4.png" alt="" class="animated-element"></div>

              <div class="owl-dot animated-wrap"><img src="assets/images/testimonial5.png" alt="" class="animated-element"></div>
              <div class="owl-dot animated-wrap"><img src="assets/images/testimonial6.png" alt="" class="animated-element"></div>
              <div class="owl-dot animated-wrap"><img src="assets/images/testimonial7.jpg" alt="" class="animated-element"></div>
              <div class="owl-dot animated-wrap"><img src="assets/images/testimonial8.jpg" alt="" class="animated-element"></div>
          </div>
      </div>

      <div class="row align-items-center position-relative">
          <div class="col-md-12">
              <div class="owl-carousel owl-theme testimonial-two hide-cursor mx-auto wow zoomIn" data-wow-delay="400ms">
                  <div class="testimonial-item">
                      <p class="color-white testimonial-para mb-15px"> Curabitur mollis bibendum luctus. Duis suscipit vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend, in maximus metus sollicitudin. Quisque vitae sodales lectus. Nam porttitor justo sed mi finibus, vel tristique risus faucibus. </p>
                      <div class="testimonial-post">
                          <a href="javascript:void(0)" class="post"><img src="assets/images/testimonial1.png" alt="image"></a>
                          <div class="text-content">
                              <h5 class="color-white text-capitalize">David Walker</h5>
                              <p class="color-white"> Chairman, AcroEx </p>
                              <div class="rating">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="testimonial-item hide-cursor">
                      <p class="color-white testimonial-para mb-15px"> Curabitur mollis bibendum luctus. Duis suscipit vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend, in maximus metus sollicitudin. Quisque vitae sodales lectus. Nam porttitor justo sed mi finibus, vel tristique risus faucibus. </p>

                      <div class="testimonial-post">
                          <a href="javascript:void(0)" class="post"><img src="assets/images/testimonial2.png" alt="image"></a>
                          <div class="text-content">
                              <h5 class="color-white text-capitalize">Christina Williams</h5>
                              <p class="color-white"> HR Manager </p>
                              <div class="rating">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="testimonial-item">
                      <p class="color-white testimonial-para mb-15px"> Curabitur mollis bibendum luctus. Duis suscipit vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend, in maximus metus sollicitudin. Quisque vitae sodales lectus. Nam porttitor justo sed mi finibus, vel tristique risus faucibus. </p>

                      <div class="testimonial-post">
                          <a href="javascript:void(0)" class="post"><img src="assets/images/testimonial3.png" alt="image"></a>
                          <div class="text-content">
                              <h5 class="color-white text-capitalize">Sarah Jones</h5>
                              <p class="color-white"> Sales Executive </p>
                              <div class="rating">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="testimonial-item">
                      <p class="color-white testimonial-para mb-15px"> Curabitur mollis bibendum luctus. Duis suscipit vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend, in maximus metus sollicitudin. Quisque vitae sodales lectus. Nam porttitor justo sed mi finibus, vel tristique risus faucibus. </p>

                      <div class="testimonial-post">
                          <a href="javascript:void(0)" class="post"><img src="assets/images/testimonial4.png" alt="image"></a>
                          <div class="text-content">
                              <h5 class="color-white text-capitalize">Chris Gorgano</h5>
                              <p class="color-white"> Photographer </p>
                              <div class="rating">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="testimonial-item">
                      <p class="color-white testimonial-para mb-15px"> Curabitur mollis bibendum luctus. Duis suscipit vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend, in maximus metus sollicitudin. Quisque vitae sodales lectus. Nam porttitor justo sed mi finibus, vel tristique risus faucibus. </p>

                      <div class="testimonial-post">
                          <a href="javascript:void(0)" class="post"><img src="assets/images/testimonial5.png" alt="image"></a>
                          <div class="text-content">
                              <h5 class="color-white text-capitalize">Kate Carter</h5>
                              <p class="color-white"> Model </p>
                              <div class="rating">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="testimonial-item">
                      <p class="color-white testimonial-para mb-15px"> Curabitur mollis bibendum luctus. Duis suscipit vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend, in maximus metus sollicitudin. Quisque vitae sodales lectus. Nam porttitor justo sed mi finibus, vel tristique risus faucibus. </p>

                      <div class="testimonial-post">
                          <a href="javascript:void(0)" class="post"><img src="assets/images/testimonial6.png" alt="image"></a>
                          <div class="text-content">
                              <h5 class="color-white text-capitalize">Alex Curtis </h5>
                              <p class="color-white"> Manager </p>
                              <div class="rating">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="testimonial-item">
                      <p class="color-white testimonial-para mb-15px"> Curabitur mollis bibendum luctus. Duis suscipit vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend, in maximus metus sollicitudin. Quisque vitae sodales lectus. Nam porttitor justo sed mi finibus, vel tristique risus faucibus. </p>

                      <div class="testimonial-post">
                          <a href="javascript:void(0)" class="post"><img src="assets/images/testimonial7.jpg" alt="image"></a>
                          <div class="text-content">
                              <h5 class="color-white text-capitalize">Ashley Wilson</h5>
                              <p class="color-white"> Actor </p>
                              <div class="rating">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="testimonial-item">
                      <p class="color-white testimonial-para mb-15px"> Curabitur mollis bibendum luctus. Duis suscipit vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend, in maximus metus sollicitudin. Quisque vitae sodales lectus. Nam porttitor justo sed mi finibus, vel tristique risus faucibus. </p>

                      <div class="testimonial-post">
                          <a href="javascript:void(0)" class="post"><img src="assets/images/testimonial8.jpg" alt="image"></a>
                          <div class="text-content">
                              <h5 class="color-white text-capitalize">Johnny Perkins</h5>
                              <p class="color-white"> Athlete </p>
                              <div class="rating">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                              </div>
                          </div>
                      </div>
                  </div>

              </div>
          </div>
      </div>
  </div>
</div>
</section>
<!-- Clients ends -->

<!-- Blog start -->
<section id="blog" class="half-section p-0 bg-change bg-yellow">
<h2 class="d-none">heading</h2>
<div class="container-fluid">
  <div class="row align-items-center">

      <div class="col-lg-6 col-md-12 p-0">
          <div class="hover-effect">
              <img alt="blog" src="assets/images/split-blog.jpg" class="about-img">
          </div>
      </div>

      <div class="col-lg-6 col-md-12 p-lg-0">
          <div class="split-container-setting style-three text-center">
              <div class="main-title mb-5 wow fadeIn" data-wow-delay="300ms">
                  <h5 class="font-18 text-blue"> Oct 12, 2019</h5>
                  <h2 class="mb-0 font-weight-normal"> Agency Blog </h2>
              </div>
              <p class="color-black mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodt temp to the incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis a nostr a exercitation ullamco laboris nisi ut aliquip.</p>

              <a href="ad-agency/blog.html" class="btn-setting color-black btn-hvr-up btn-blue btn-hvr-pink">learn more</a>
          </div>
      </div>

  </div>
</div>
</section>
<!-- Blog ends -->

<!-- Contact & Map starts -->
<section id="contact" class="bg-light-gray bg-dark1">
<div class="container">
  <div class="row mx-lg-0">
      <div class="col-lg-6 col-md-6 col-sm-12 p-0">
          <div class="contact-box bg-dark2">
              <div class="main-title text-center text-md-left mb-4">
                  <h2 class="font-weight-normal">Connect With Us </h2>
              </div>

              <div class="text-center text-md-left">

                  <!--Address-->
                  <p class="mb-3">123 Street New York City , United States Of America. </p>

                  <!--Phone-->
                  <p class="mb-3"> Office Telephone : 001 01085379709 <br>
                      Mobile : 001 63165370895 </p>

                  <!--Email-->
                  <p class="mb-3"> Email: <a href="mailto:email@website.com" class="color-white">admin@website.com</a> <br>
                      Inquiries: <a href="mailto:email@website.com" class="color-white">email@website.com</a> </p>

                  <!--Timing-->
                  <p class="mb-0">Mon-Sat: 9am to 6pm</p>
              </div>
          </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 p-0 col-map box-shadow-map">
          <div id="google-map" class="bg-light-gray map"></div>
      </div>
  </div>
</div>
</section>
<!-- Contact & Map ends -->

<!-- animated text section start -->
<section class="bg-dark1 textanmt" style="background: black;">
  <div class="container">
     <div class="row">
      <div class="col-md-12 container_animated fadeInLeft">
        <h1 class="text">TEXT EFFECT<span>WOAH</span></h1>
        <h1 class="text">GSAP<span>AND CLIPPING</span></h1>
        <h1 class="text">CRAZYYY<span>CRAZYYY</span></h1>
        <h1 class="text">HOVER ON ME<span><a href="#" target="_blank">SOURCE</a></span></h1>
        <h1 class="text">LIKE THIS?<span><a href="#" target="_blank">LET'S CONNECT</a></span></h1>
      </div>
     </div>
  </div>
</section>

<!-- animated text section end -->

<section>
  <div class="container mt-5">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" (click)="handleAccordion1()">
            Accordion Item #1
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="row">
              <!-- Column for Counter -->
              <div class="col-md-6">
                <div class="counter-container">
                  <h1 style="font-size: 200px;">{{counter1}}</h1>

                  <p>We craft premium digital work for web, mobile and experiential with creative agencies and global brands alike – putting passion, pride and plenty of elbow grease into everything we do.</p>
                </div>
              </div>
              <!-- Column for Image -->
              <div class="col-md-6">
                <div class="image-container">
                  <h2>Image</h2>
                  <img src="https://cdn.pixabay.com/photo/2023/05/05/06/19/street-7971714_1280.jpg" alt="Placeholder Image" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" (click)="handleAccordion2()">
            Accordion Item #2
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="row">
              <!-- Column for Counter -->
              <div class="col-md-6">
                <div class="counter-container">
                  <h1 style="font-size: 200px;">{{counter2}}</h1>
                  <p>We craft premium digital work for web, mobile and experiential with creative agencies and global brands alike – putting passion, pride and plenty of elbow grease into everything we do.</p>
                </div>
              </div>
              <!-- Column for Image -->
              <div class="col-md-6">
                <div class="image-container">
                  <h2>Image</h2>
                  <img src="https://cdn.pixabay.com/photo/2023/05/05/06/19/street-7971714_1280.jpg" alt="Placeholder Image" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" (click)="handleAccordion3()">
            Accordion Item #3
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="row">
              <!-- Column for Counter -->
              <div class="col-md-6">
                <div class="counter-container">
                  <h1 style="font-size: 200px;">{{counter3}}</h1>
                  <p>We craft premium digital work for web, mobile and experiential with creative agencies and global brands alike – putting passion, pride and plenty of elbow grease into everything we do.</p>
                </div>
              </div>
              <!-- Column for Image -->
              <div class="col-md-6">
                <div class="image-container">
                  <h2>Image</h2>
                  <img src="https://cdn.pixabay.com/photo/2023/05/05/06/19/street-7971714_1280.jpg" alt="Placeholder Image" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Footer starts -->
<footer class="p-half  footer-section">
<div class="container">
  <div class="row">
      <div class="col-md-12 col-sm-12 text-center">
          <ul class="footer-icons mb-4">
              <li><a href="javascript:void(0)" class="wow fadeInUp facebook"><i class="fab fa-facebook-f"></i> </a> </li>
              <li><a href="javascript:void(0)" class="wow fadeInDown twitter"><i class="fab fa-twitter"></i> </a> </li>
              <li><a href="javascript:void(0)" class="wow fadeInUp google"><i class="fab fa-google"></i> </a> </li>
              <li><a href="javascript:void(0)" class="wow fadeInDown linkedin"><i class="fab fa-linkedin-in"></i> </a> </li>
              <li><a href="javascript:void(0)" class="wow fadeInUp instagram"><i class="fab fa-instagram"></i> </a> </li>
              <li><a href="javascript:void(0)" class="wow fadeInDown pinterest"><i class="fab fa-pinterest-p"></i> </a> </li>
          </ul>
          <p class="copyrights mt-2 mb-2">© 2024 Clarityst.</p>
      </div>
  </div>
</div>
</footer>
<!-- Footer ends -->

<!--Animated Cursor-->
<div id="animated-cursor">
<div id="cursor">
  <div id="cursor-loader"></div>
</div>
</div>
<!--Animated Cursor End-->
<!-- <router-outlet></router-outlet> -->
